<div id="indexLeft">
	<div class="registerLogin centerHeading">
		<%= render partial: 'devise/shared/registration_form' %>
	</div>
</div>

<div id="divider">&nbsp</div>

<div id="indexRight">
	<div id="blurb">
		<h1>Receive daily vocabulary quiz emails you can respond to! <%= link_to "More...",about_path %></h1>
	</div>
</div>