@import "bootstrap";

* {
	margin: 0;
}
html,body {
	min-height: 100%;
}
body#body {
	font-size: 12pt;
	h1,h2 {
		margin-bottom: 8px;
	}
}
#footer{
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 960px;
	height: 30px;	
}

#navNavLinks .btn-group {
	margin-top: -5px;
}

#navNavLinks div.btn-group:hover {	
	ul.dropdown-menu {
		padding-right: 0px;
		margin: 0;
		display: block;
		li {
			float: left;
			clear: left;
		}
	}		
}

.center {
	text-align: center;	
}
.centerDiv {
	margin-left: auto;
	margin-right: auto;
}

header {
	width: 100%;
	min-width: 960px;
	background-color: #2c2c2c;
	height: 50px;
	#border-bottom-style: dashed;
	#border-bottom-width: 1px;
	#border-bottom-color: darkgrey;

	#logo {
		float: left;
		font-size: 2.7em;
		#color: #2c2c2c;
		color: white;
		#text-transform: uppercase;
		letter-spacing: -1px;
		padding-top: 5px;
		font-weight: bold;
		line-height: 1;
		&:hover {
			text-decoration: none;
		}	
	}

	#navLoginForm {
		margin-top: 1px;
		float: right;
		height: 40px;

		#loginFields {
			float: left;

			input {
				font-size: 14px;	
				#font-weight: bold;
				padding: 3px;
				height: 22px;
				width: 120px;
			}
		}
		input[type="submit"] {
			font-size: 14px;
			font-weight: bold;
			margin-left: 4px;
			width: 70px;
			height: 29px;
		}
	}

	#navNavLinks {
		margin-top: 7px;
		float: right;
		list-style-type: none;
		li {
			float: left;
			padding-left: 15px;
			a {
				color: #ccc;
				&:hover {
					color: white;
					#color: black;
					#text-decoration: underline;
					text-decoration: none;
				}
			}	
		}
	}
}

#page_left {
	float: left;
	width: 450px;
}
#page_divider {
	float: left;
	width: 40px;	
}
#page_right {
	float: left;
	width: 450px;	
}

.centerDiv {
	margin-left: auto;
	margin-right: auto;
}

.centerHeading {
	h1,h2,h3,h4,h5,h6 {
		text-align: center;
	}
}

#flash_area {
	height: 50px;
}

#settings {

	width: 500px;

	.prompts {
		margin-top: 30px;
		float: left;
		width: 250px;
		text-align: right;
		span {
			display: block;
			height: 50px;
			margin-right: 10px;
		}
	}

	.options {
		margin-top: 26px;
		float: left;
		width: 250px;
		span {
			display: block;
			height: 50px;
		}
	}

	.small { width: 50px; }
	.medium { width: 75px; }
	.large { width: 125px; }

	select {
		font-size: 14px;
		padding: 0px 0px 0px 3px;
		height: 25px;
	}
	#submit {
		width: 254px;
		margin-left: auto;
		margin-right: auto;

		input[type="submit"] {
			font-size: 12pt;
			width: 100%; 
			margin-top: 10px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

#main {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	height: auto !important;
	height: 100%;
}
.registerLogin {
	input[type="email"],input[type="text"],input[type="password"] {
		font-size: 14px;	
		#font-weight: bold;
		padding: 3px;
		height: 22px;
		width: 254px;
	}
}
.registerLogin .alert-error {
	ul {
		margin-bottom: 0px;
	}
	margin-right: -12px;
}

.debug_dump {
	width: 100%;
	float: left;
}

.field_with_errors {
	display: inline;
}

/* Change Placeholder text */
input#word_name::-webkit-input-placeholder { padding-top: 6px; }
input#word_name:-moz-placeholder{ padding-top: 6px;}

#words_index {
	#page_left {
		float: left;
		width: 250px;
		#background-color: blue;
	}
	#page_divider {
		float: left;	
		width: 40px;
		#background-color: yellow;
	}
	#page_right {
		float: left;
		width: 650px;	
		#background-color: pink;
	}
}


#findWord,#editWord{
	#background-color: green;
	width: 550px;
	text-align: center; 
	margin: 0px 0px 0px 20px;
	input[type=submit] { margin-top: 10px; font-size: 14pt; height: 35px; width: 272px; } /* removed display: none; */
	button[type=button] { font-size: 14pt; height: 35px; width: 272px; }

	input#word_name {
		font-size: 26px;	
		padding: 10px;
		width: 250px;
		text-align: middle;
	}
	#fieldAndErrorsContainer {
		margin-left: auto;
		margin-right: auto;
		width: 272px;
		margin-bottom: 0px;
		.alert-error, .alert-notice, .alert-success{
			margin-bottom: 10px;
		}
	}
	#addDefinitionContainer {
		line-height: 1.2em;
		text-align: left;
		#display: none;
		ul {
			list-style-type: none;
			position: inline;
			li {
				margin-bottom: 2px;
				#border-radius: 5px;
				#-moz-border-radius: 5px;
				label {
					padding: 10px;
					font-size: 11pt;
					letter-spacing: 1px;
				}
			}
		}
		input[type=checkbox] {
			position: absolute;
			top: -9999px;
			left: -9999px;
			opacity: 0;
		}
	}
}
.no_display {
	display: none;
}

.checkmarkText {
	overflow: hidden;
}
.checkmark {
	#display: inline-block;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	background-image: url('checkmark.png');
	background-repeat: no-repeat;

}
.checkmark-check {
	background-position: -30px 0px;
}


.word_list {
	
	width: 100%;

	ul {
		list-style-type: none;
		li {
			padding: 4px 0px 4px 0px;
			border-bottom-style: solid;
			border-bottom-color: lightgrey;
			border-bottom-width: 1px;
			border-bottom-length: 20%;
			.grey {
				color: grey;
			}
			a {
				display: inline;
				margin-right: 20px;
			}
		}
	}
}

/* Word 'show' page */

ul#word_definitions {
	#list-style-type: none;
	#margin-left: 10px;
	li {
		margin-top: 5px;
	}
}

#word_options {

	input[type=submit] { font-size: 11pt; }

	ul {
		list-style-type: none;
		margin-left: 0px;
		li {
			float: left;
			margin-right: 15px;
		}
	}
	margin-top: 40px;
}

/* end Word 'show' page */


/* Quiz 'show' page */

#results {
	h1 {
		padding-bottom: 15px;
	}
	#not_responded {
		margin-top: 50px;
		font-size: 20px;
		margin-bottom: 15px;
	}

	.definitions {
		ul { 
			list-style-type: none;
			margin-left: 0px;
			li {
				padding-bottom: 5px;
			}
		}
	}	

	.right_wrong {
		margin-top: 10px;
	}
	#submit {
		width: 254px;
		margin-left: auto;
		margin-right: auto;

		input[type="submit"] {
			font-size: 12pt;
			width: 100%; 
			margin-top: 10px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}	
}
/* end Quiz 'show' page */