@import "bootstrap";

#logo {
	float: left;
	font-size: 2.3em;
	color: white;
	#text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 6px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		text-decoration: none;
	}	
	#background-color: green;
}

body {
	padding-top: 60px;
}

.formError {
	background-color: red;
}
/*
#loginForm {
	height: 35px;
	float: right;
	padding-top: 7px;
	background-color: red;
}
*/