@import "bootstrap";

header {

	width: 100%;
	/* why is there 20px of extra space to the right if the min-width is 940px? */
	min-width: 960px;
	#background-color: #2c2c2c;
	height: 50px;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: lightgrey;

	#logo {
		float: left;
		font-size: 3em;
		color: #2c2c2c;
		#color: white;
		#text-transform: uppercase;
		letter-spacing: -1px;
		padding-top: 6px;
		font-weight: bold;
		line-height: 1;
		&:hover {
			text-decoration: none;
		}	
	}

	#navLoginForm {
		float: right;

		#loginFields {
			float: left;
			width: 208px;
		}
	}

	#navNavLinks {
		margin-top: 7px;
		float: right;
		list-style-type: none;
		li {
			float: left;
			padding-left: 15px;
			a {
				#color: #aaa;
				font-size: 1.2em;
				&:hover {
					#color: white;
					color: black;
					text-decoration: none;
				}
			}	
		}
	}
}

#main {
	margin-top: 20px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#mainForm {
	width: 210px;
	margin: auto auto;
	.input-medium {
		width: 200px;
	}
	#rememberMe {
		padding-left: 4px;
		vertical-align: bottom;
	}

	.btn-primary {
		margin-top: 8px;
		width: 210px;
	}
	.alert-error {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
	.center {
		text-align: center;	
	}
}

#indexLeft {
	position: relative;
	float: left;
	width: 470px;
}

#indexRight {
	position: relative;
	float: left;
	width: 470px;
}

.debug_dump {
	width: 940px;
	float: left;
}

.field_with_errors {
	display: inline;
}

/* Change Placeholder text */
input#word_name::-webkit-input-placeholder { padding-top: 6px; }
input#word_name:-moz-placeholder{ padding-top: 6px;}

input#word_name {
	font-size: 26px;	
	padding: 10px;
	#height: 30px;
	width: 250px;
	text-align: middle;
}

#findWord {
	width: 75%;
	text-align: center; 
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;

	#fieldAndErrorsContainer {
		margin-left: auto;
		margin-right: auto;
		width: 272px;
		margin-bottom: 0px;
		.alert-error, .alert-notice, .alert-success{
			margin-bottom: 10px;
		}
	}
	#addDefinitionContainer {
		font-size: 20px;
		line-height: 1.2em;
		text-align: left;
		.single_definition {
			margin-bottom: 15px;
		}
	}
}

input[type=submit] {
	display: none;
}

/*
input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
	opacity: 0;
}
*/

