@import "bootstrap";


#quiz_calendar {
	width: 550px;
	table tr
		th {
			border: solid 1px;
			width: 75px;
			height: 20px;
		}
		td {
			border: solid 1px;
			width: 75px;
			height: 75px;
			vertical-align: top;
			text-align: right;
			font-size: 15px;
		}
	#calendar_nav{
		.last {
			float: left;
			text-align: left;
			width: 183px;
		}
		.title {
			float: left;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
			width: 183px;
		}
		.next {
			float: left;
			text-align: right;
			width: 183px;
		}
	}

}

#results {
	margin-left: auto;
	margin-right: auto;
	width: 60%;

	.definition {
		padding-bottom: 5px;
	}

	.right_symbol {
		vertical-align: -3px;
		font-size: 170%;
		color: #25B325;
		margin-right: 7px;
	}

	.wrong_symbol { 
		vertical-align: -2px;
		font-size: 130%;
		color: #F20707;
		margin-right: 11px;
	}

	.right_answer {
		margin-left: 20px;
		color: grey;
	}

	h1 {
		text-align: center;	
		margin-bottom: 20px;
	}

	li {
		padding-bottom: 20px;
	}

}