<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
	<style type="text/css">

		#quiz_definitions {
			float: left;
			max-width: 475px;
			margin-bottom: 10px;
		}

		#quiz_wordbank {
			float: left;
			max-width: 200px;
			margin-left: 20px;
		}

		ol {
			margin: 0px;
			padding: 0px;
			list-style-position: inside;
		}

		#quiz_wordbank ol {
			list-style-type: lower-alpha;
		}

		li {
			margin: 0px;
			padding: 0px;
		}

		#quiz_definitions li {
			padding-bottom: 15px;
		}

		#quiz_wordbank li {
			padding-bottom: 8px;
		}

		h4 {
			margin-top: 0px;
			padding-top: 0px;
		}
		h2 {
			text-align: center;
		}
		#container {
			max-width: 710px;
		}
		#auth_hash {
			margin: 0px;
			padding: 0px;
			font-size: 0px;
		}
	</style>

		<div id="container"><h2>Quiz for <%= Date.today.strftime("%A %b %-d, %Y") %></h2>
		  	<div id="quiz_definitions">
				<h4>Definitions</h4>
				<ol>
					<% @questions.each do |question| %>
					<li>
						<ul>
							<% question.word.definitions.each do |definition| %>
								<li><%= definition.text.encode(Encoding.find('ASCII'), @encoding_options) %></li>
							<% end %>
						</ul>
					</li>
					<% end %>
				</ol>
	  	</div>
		  	<div id="quiz_wordbank">
		  		<h4>Word bank</h4>
		  		<ol>
		  			<% @word_bank.each do |word| %>
		  				<li><%= word %></li>	
		  			<% end %>
		  		</ol>
		  	</div>
		</div>
		<div id="auth_hash">auth_hash:<%= @quiz.auth_hash %>:</div>
	</body>
</html>
